
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color:rgb(59, 59, 59)
}
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: rgb(15, 15, 15);
}